In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
%store -r g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kiama,AU,-34.6833,150.8667,81.37,36,0,14.00,clear sky
1,1,Bagdarin,RU,54.4333,113.6000,9.14,64,0,3.62,clear sky
2,2,Nikolskoye,RU,59.7035,30.7861,26.78,94,100,7.40,overcast clouds
3,3,Lebu,CL,-37.6167,-73.6500,59.47,80,0,5.19,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,78.01,77,100,6.20,light rain

In [4]:


# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Please enter the minimum temperature criteria"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Please enter the maximum temperature criteria"))

Please enter the minimum temperature criteria70
Please enter the maximum temperature criteria80

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <=max_temp) & \
                                      (city_data_df['Max Temp'] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Rikitea,PF,-23.1203,-134.9692,78.01,77,100,6.20,light rain
8,8,Port Alfred,ZA,-33.5906,26.8910,74.17,84,26,5.01,scattered clouds
12,12,Salinopolis,BR,-0.6136,-47.3561,76.91,89,56,6.91,broken clouds
19,19,Bobo Dioulasso,BF,11.1771,-4.2979,70.25,23,0,8.05,clear sky
25,25,Hilo,US,19.7297,-155.0900,73.13,88,75,4.61,light rain
28,28,Birao,CF,10.2849,22.7882,74.17,15,36,13.04,scattered clouds
31,31,Richards Bay,ZA,-28.7830,32.0377,79.56,70,10,3.36,clear sky
33,33,Hermanus,ZA,-34.4187,19.2345,76.80,65,0,5.66,clear sky
39,39,Kapaa,US,22.0752,-159.3190,75.18,93,100,19.57,moderate rain
40,40,Dunedin,NZ,-45.8742,170.5036,70.29,71,0,13.87,clear sky

In [6]:


# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Rikitea,PF,-23.1203,-134.9692,78.01,77,100,6.20,light rain
8,8,Port Alfred,ZA,-33.5906,26.8910,74.17,84,26,5.01,scattered clouds
12,12,Salinopolis,BR,-0.6136,-47.3561,76.91,89,56,6.91,broken clouds
19,19,Bobo Dioulasso,BF,11.1771,-4.2979,70.25,23,0,8.05,clear sky
25,25,Hilo,US,19.7297,-155.0900,73.13,88,75,4.61,light rain
28,28,Birao,CF,10.2849,22.7882,74.17,15,36,13.04,scattered clouds
31,31,Richards Bay,ZA,-28.7830,32.0377,79.56,70,10,3.36,clear sky
33,33,Hermanus,ZA,-34.4187,19.2345,76.80,65,0,5.66,clear sky
39,39,Kapaa,US,22.0752,-159.3190,75.18,93,100,19.57,moderate rain
40,40,Dunedin,NZ,-45.8742,170.5036,70.29,71,0,13.87,clear sky

In [7]:


# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country","Max Temp","Current Description","Lat","Lng"]].copy()

# Display sample data
hotel_df.head()

              City Country  Max Temp Current Description      Lat       Lng
4          Rikitea      PF     78.01          light rain -23.1203 -134.9692
8      Port Alfred      ZA     74.17    scattered clouds -33.5906   26.8910
12     Salinopolis      BR     76.91       broken clouds  -0.6136  -47.3561
19  Bobo Dioulasso      BF     70.25           clear sky  11.1771   -4.2979
25            Hilo      US     73.13          light rain  19.7297 -155.0900

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]=""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Rikitea,PF,78.01,light rain,-23.1203,-134.9692,
8,Port Alfred,ZA,74.17,scattered clouds,-33.5906,26.8910,
12,Salinopolis,BR,76.91,broken clouds,-0.6136,-47.3561,
19,Bobo Dioulasso,BF,70.25,clear sky,11.1771,-4.2979,
25,Hilo,US,73.13,light rain,19.7297,-155.0900,

In [9]:


# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:


# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.