# Deliverable 2. Create a Customer Travel Destinations Map

----

1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Geoapify API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame. Retrieve the latitude and longitude of each city and use the Geoapify API to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, set the hotel name as "No hotel found".

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Use GeoViews to create a map that displays a point for every city in the `clean_hotel_df` DataFrame. In the point for each city add:

    * The city name
    
    * The country code
    
    * The weather description
    
    * The point's size should be the maximum temperature for the city

15. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.

---

## Ensure that the dependencies and the Geoapify API key is imported correctly

In [1]:

# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import Google API key
%store -r gg_key

# Configure gmaps
gmaps.configure(api_key=gg_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`

In [2]:
# Import the WeatherPy_database.csv file. 

city_df = pd.read_csv(r"\Users\Anjali\Desktop\Data_Bootcamp\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv")



# Display sample data
city_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kiama,AU,-34.6833,150.8667,81.37,36,0,14.00,clear sky
1,1,Bagdarin,RU,54.4333,113.6000,9.14,64,0,3.62,clear sky
2,2,Nikolskoye,RU,59.7035,30.7861,26.78,94,100,7.40,overcast clouds
3,3,Lebu,CL,-37.6167,-73.6500,59.47,80,0,5.19,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,78.01,77,100,6.20,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation

In [3]:
# Prompt the user to enter minimum and maximum temperature criteria.
min_temp = float(input("What is the minimum temperature you would like for your vacation? ")) 

max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 70
What is the maximum temperature you would like for your vacation? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`

In [4]:


# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_df.loc[(city_df["Max Temp"] <= max_temp) & \
                                       (city_df["Max Temp"] >= min_temp)]          

preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kiama,AU,-34.6833,150.8667,81.37,36,0,14.00,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,78.01,77,100,6.20,light rain
5,5,Buala,SB,-8.1450,159.5921,81.93,80,98,2.26,moderate rain
8,8,Port Alfred,ZA,-33.5906,26.8910,74.17,84,26,5.01,scattered clouds
9,9,Komatipoort,ZA,-25.4332,31.9548,80.06,61,35,8.21,scattered clouds
10,10,Vaini,TO,-21.2000,-175.2000,80.76,89,75,11.50,broken clouds
12,12,Salinopolis,BR,-0.6136,-47.3561,76.91,89,56,6.91,broken clouds
14,14,Padang,ID,-0.9492,100.3543,86.05,66,100,5.88,overcast clouds
17,17,Mataura,NZ,-46.1927,168.8643,81.16,51,1,3.44,clear sky
19,19,Bobo Dioulasso,BF,11.1771,-4.2979,70.25,23,0,8.05,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows

In [5]:


# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna(how='all')

# YOUR CODE HERE
clean_travel_cities.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kiama,AU,-34.6833,150.8667,81.37,36,0,14.00,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,78.01,77,100,6.20,light rain
5,5,Buala,SB,-8.1450,159.5921,81.93,80,98,2.26,moderate rain
8,8,Port Alfred,ZA,-33.5906,26.8910,74.17,84,26,5.01,scattered clouds
9,9,Komatipoort,ZA,-25.4332,31.9548,80.06,61,35,8.21,scattered clouds
10,10,Vaini,TO,-21.2000,-175.2000,80.76,89,75,11.50,broken clouds
12,12,Salinopolis,BR,-0.6136,-47.3561,76.91,89,56,6.91,broken clouds
14,14,Padang,ID,-0.9492,100.3543,86.05,66,100,5.88,overcast clouds
17,17,Mataura,NZ,-46.1927,168.8643,81.16,51,1,3.44,clear sky
19,19,Bobo Dioulasso,BF,11.1771,-4.2979,70.25,23,0,8.05,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng"

In [6]:


# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
# YOUR CODE HERE
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
0            Kiama      AU     81.37           clear sky -34.6833  150.8667
4          Rikitea      PF     78.01          light rain -23.1203 -134.9692
5            Buala      SB     81.93       moderate rain  -8.1450  159.5921
8      Port Alfred      ZA     74.17    scattered clouds -33.5906   26.8910
9      Komatipoort      ZA     80.06    scattered clouds -25.4332   31.9548
10           Vaini      TO     80.76       broken clouds -21.2000 -175.2000
12     Salinopolis      BR     76.91       broken clouds  -0.6136  -47.3561
14          Padang      ID     86.05     overcast clouds  -0.9492  100.3543
17         Mataura      NZ     81.16           clear sky -46.1927  168.8643
19  Bobo Dioulasso      BF     70.25           clear sky  11.1771   -4.2979

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
# YOUR CODE HERE
hotel_df["Hotel Name"] = ""

# Display sample data
# YOUR CODE HERE
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kiama,AU,81.37,clear sky,-34.6833,150.8667,
4,Rikitea,PF,78.01,light rain,-23.1203,-134.9692,
5,Buala,SB,81.93,moderate rain,-8.1450,159.5921,
8,Port Alfred,ZA,74.17,scattered clouds,-33.5906,26.8910,
9,Komatipoort,ZA,80.06,scattered clouds,-25.4332,31.9548,
10,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,
12,Salinopolis,BR,76.91,broken clouds,-0.6136,-47.3561,
14,Padang,ID,86.05,overcast clouds,-0.9492,100.3543,
17,Mataura,NZ,81.16,clear sky,-46.1927,168.8643,
19,Bobo Dioulasso,BF,70.25,clear sky,11.1771,-4.2979,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gg_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame. Retrieve the latitude and longitude of each city and use the Geoapify API to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, set the hotel name as "No hotel found"

In [9]:

# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found")

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found

In [10]:
hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kiama,AU,81.37,clear sky,-34.6833,150.8667,The Sebel Kiama Harbourside
4,Rikitea,PF,78.01,light rain,-23.1203,-134.9692,People ThankYou
5,Buala,SB,81.93,moderate rain,-8.1450,159.5921,Maringe Lagoon Lodge
8,Port Alfred,ZA,74.17,scattered clouds,-33.5906,26.8910,The Halyards Hotel & Spa
9,Komatipoort,ZA,80.06,scattered clouds,-25.4332,31.9548,Kruger View Backpackers
10,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
12,Salinopolis,BR,76.91,broken clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
14,Padang,ID,86.05,overcast clouds,-0.9492,100.3543,Mercure Padang
17,Mataura,NZ,81.16,clear sky,-46.1927,168.8643,Ellie's Villa
19,Bobo Dioulasso,BF,70.25,clear sky,11.1771,-4.2979,IBA Hotel
20,Brisbane,AU,80.02,clear sky,-27.4679,153.0281,Royal On The Park Brisbane
22,Cap Malheureux,MU,85.46,broken clouds,-19.9842,57.6142,Pereybere Hotel & Spa
24,Saint-Philippe,RE,83.79,moderate rain,-21.3585,55.7679,Le four à pain
25,Hilo,US,73.13,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
26,Ballina,AU,82.78,overcast clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
27,Butaritari,KI,81.55,clear sky,3.0707,172.7902,Isles Sunset Lodge
28,Birao,CF,74.17,scattered clouds,10.2849,22.7882,
31,Richards Bay,ZA,79.56,clear sky,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
33,Hermanus,ZA,76.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
34,Tsaratanana,MG,83.88,broken clouds,-16.7833,47.6500,

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset =["Hotel Name"])

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kiama,AU,81.37,clear sky,-34.6833,150.8667,The Sebel Kiama Harbourside
4,Rikitea,PF,78.01,light rain,-23.1203,-134.9692,People ThankYou
5,Buala,SB,81.93,moderate rain,-8.1450,159.5921,Maringe Lagoon Lodge
8,Port Alfred,ZA,74.17,scattered clouds,-33.5906,26.8910,The Halyards Hotel & Spa
9,Komatipoort,ZA,80.06,scattered clouds,-25.4332,31.9548,Kruger View Backpackers
10,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
12,Salinopolis,BR,76.91,broken clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
14,Padang,ID,86.05,overcast clouds,-0.9492,100.3543,Mercure Padang
17,Mataura,NZ,81.16,clear sky,-46.1927,168.8643,Ellie's Villa
19,Bobo Dioulasso,BF,70.25,clear sky,11.1771,-4.2979,IBA Hotel

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the `Vacation_Search`` folder

In [12]:
# Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

## Use GeoViews to create a map that displays a point for every city in the `clean_hotel_df` DataFrame.

In the point for each city add:

* The city name
* The country code
* The weather description
* The point's size should be the maximum temperature for the city

In [13]:


# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [14]:


# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>The Sebel Kiama Harbourside</dd>\n<dt>City</dt><dd>Kiama</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 78.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maringe Lagoon Lodge</dd>\n<dt>City</dt><dd>Buala</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Current Weather</dt><dd>moderate rain and 81.93 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel & Spa</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 74.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kruger View Backpackers</dd>\n<dt>City</dt><dd>Komatipoort</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Salinas Park Resort Maçarico AP101</dd>\n<dt>City</dt><dd>Salinopolis</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 86.05 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.16 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>IBA Hotel</dd>\n<dt>City</dt><dd>Bobo Dioulasso</dd>\n<dt>Country</dt><dd>BF</dd>\n<dt>Current Weather</dt><dd>clear sky and 70.25 °F</dd>\n</dl>\n']

In [15]:


# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -34.6833  150.8667
4  -23.1203 -134.9692
5   -8.1450  159.5921
8  -33.5906   26.8910
9  -25.4332   31.9548
10 -21.2000 -175.2000
12  -0.6136  -47.3561
14  -0.9492  100.3543
17 -46.1927  168.8643
19  11.1771   -4.2979

In [16]:


# Add a marker layer for each city to the map. 
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))